<% layout("/layouts/boilerplate.ejs") %>

    <div class="row">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            <strong>Error <%= statusCode %>:</strong>
            <%= message %>
        </div>
    </div>

    <!-- <div class="row">
        <div class="alert alert-danger col-6 offset-3" role="alert">
            A Simple alert Check It Out!
        </div>
    </div> -->